extends layout

block menu
    include menu.pug

block content
    div.content-box
        div.api-box
            div.type-box
                h2 GET API requests
                div.single-api
                    a(href='/api/quotes' target='blank')='/api/quotes/all'
                    div.description
                        p returns an array of all quotes in database
                div.single-api
                    a(href='/api/quotes/single/id/idValue' target='blank')='/api/quotes/single/id/IdValue'
                    div.description
                        p returns an array of one quote with <span>given</span> ID
                div.single-api
                    a(href='/api/quotes/page/2/pageLimit/15' target='blank')='/api/quotes/page/2/pageLimit/15'
                    div.description
                        p returns an array of one quotes on specified <span>page</span> with spicified <span>pageLimit</span>. counting starts from page=0
                div.single-api
                    a(href='/api/quotes/easy' target='blank')='/api/quotes/easy'
                    div.description
                        p returns an array of one quote with <span>easy</span> difficulty to guess
                div.single-api
                    a(href='/api/quotes/medium' target='blank')='/api/quotes/medium'
                    div.description
                        p returns an array of one quote with <span>medium</span> difficulty to guess
                div.single-api
                    a(href='/api/quotes/hard' target='blank')='/api/quotes/hard'
                    div.description
                        p returns an array of one quote with <span>hard</span> difficulty to guess
                div.single-api
                    a(href='/api/quotes/random' target='blank')='/api/quotes/random'
                    div.description
                        p returns an array with one quote of <span>random</span> difficulty to guess
                div.single-api
                    a(href='/api/sysinfo' target='blank')='/api/sysinfo'
                    div.description
                        p returns an objects with system parameters
            div.type-box
                h2 POST API requests
                div.single-api
                    a()='/api/games/new'
                    div.description
                        p.block New endpoint expects an object like: 
                        p.span {"player": "JonSnow", "level": "easy", "lang": "eng"}
                        p.block it returns:
                        p.span {"gameId": "12345","lettersToguess": ["encoded"],"lifes": 4}
                div.single-api
                    a()='/api/games/check'
                    div.description
                        p.block Check endpoint for checking the letters in searched phrase expects an object like: 
                        p.span {"gameId": "12345","letter": "z"}
                        p.block it returns:
                        p.span {"arrayToRespond": [4,23],"stateOfGame": ""}
                        p.block numbers in array to respond are the places of given letter in searched phrase
                        p.block stateOfGame might be: <span>alive, dead, win</span> or<span> duplicate </span>(in case if the passed letter was sended earlier)
                div.single-api
                    a()='/api/quotes/add'
                    div.description
                        p.block Add quote endpoint for adding quote expects an object like: 
                        p.span {"quoteAuthor": "Sansa Stark","insertAuthor": "Arya Stark","quote": "This is the end","lang": "eng"}
            div.type-box
                h2 PUT API requests
                div.single-api
                    a()='/api/quotes/update'
                    div.description
                        p.block Update endpoint expects an object like: 
                        p.span {"id": "123..","quote":{"quoteAuthor": "john","lang": "eng","insertAuthor": "admin","quote": "abc.."}}
                        p.block it returns:
                        p.span {"status": "updated", result: ".."}
                        p.block in result there is an object with new quote
            div.type-box
                h2 DELETE API requests
                div.single-api
                    a()='/api/quotes/delete'
                    div.description
                        p.block Delete quote endpoint expects an object like: 
                        p.span {"id": "123.."}
                        p.block it returns:
                        p.span {"status": "deleted"}
                div.single-api
                    a()='/api/games/delete'
                    div.description
                        p.block Delete game endpoint expects an object like: 
                        p.span {"gameId": "123.."}
                        p.block it returns:
                        p.span {"status": "deleted"}
